body {
    margin: 20px 40px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
    flex: 1;
    background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
    flex: 1;
    background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.blueExample2 {
    width: 80px;
    background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

/* 3rd task */
.greenThird {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.redThird {
    width: 80px;
    background-color: red;
}

.blueThird {
    width: 80px;
    background-color: blue;
}

/* 4th task */
.redFourth {
    display: flex;
    flex: 1;
    background-color: red;
    flex-direction: row-reverse;
}

.blueFourth {
    width: 80px;
    background-color: blue;
}

/* 5th task */
.greenFifth {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.redFifth {
    width: 50px;
    height: 50px;
    background-color: red;
}

/* 6th task */
.greenSixth {
    width: 100%;
    background-color: red;
    display: flex;
    flex: 1;
    justify-content: center;
}

.blueSixth {
    width: 80px;
    background-color: blue;
}

/* 7th task */
.blueSeven {
    display: flex;
    flex: 1;
    background-color: blue;
    align-items: center;
    flex-direction: row-reverse;
}
.greenSeven {
    width: 100%;
    height: 20px;
    background-color: green;
}
.redSeven {
    width: 80px;
    height: 100%;
    background-color: red;
}

/* 8th task */
.greenEighth {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.oneEighth, .twoEighth, .threeEighth, .fourEighth, .fiveEighth {
    width: 80px;
    background-color: orange;
}

/* 9th task */
.greenNine {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.oneNine, .twoNine, .threeNine, .fourNine, .fiveNine {
    width: 18%;
    background-color: orange;
}


